/* stylesheet.css */
/* Style rule for the body element */
div {
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
	}
body { 
	background-color: #999;
  	background-image: url(images/morocco-blue.png); 
  	/* Default font styling */
  	font: 10pt Arial, Helvetica, Sans-Serif;
	color: #5d3f25;
	text-align: center;
	}
h1 {
	font-size: 40pt
	}
#wrapper {
	width: 80%;
	min-width: 600px;
	max-width: 1200px;
	margin: 1em auto;
	background-color: white;
	border: solid 2px #4c2e16;
	border-radius: 20px;
	box-shadow: 8px 8px 8px black;
	padding: 50px;
	}
.raised {
	border: solid 1px gray;
	border-radius: 5px;
	box-shadow: 5px 5px 5px gray;
	margin: 10px;
	}
.centerall {
	text-align: center; 
	clear: both;
	}
